<div class="m-3 text-center" id="nav-btns">
    <a class="mt-2 btn mt-2 btn-primary mt-2 btn-lg" href="https://canvas.lms.unimelb.edu.au/courses/124111" role="button" type="button">Home</a>
    <a class="mt-2 btn mt-2 btn-primary mt-2 btn-lg" href="https://canvas.lms.unimelb.edu.au/courses/124111/pages/weekly-schedule-will-be-updated-along-the-semester" role="button" type="button">Schedule</a>
    <a class="mt-2 btn mt-2 btn-primary mt-2 btn-lg" href="https://canvas.lms.unimelb.edu.au/courses/124111/modules/items/3462768" role="button" type="button">Grok</a>
    <a class="mt-2 btn mt-2 btn-primary mt-2 btn-lg" href="https://canvas.lms.unimelb.edu.au/courses/124111/external_tools/3724?display=borderless" role="button" type="button">Ed</a>
    <a class="mt-2 btn mt-2 btn-primary mt-2 btn-lg" href="https://sws.unimelb.edu.au/2022/Reports/List.aspx?objects=COMP10002&amp;weeks=1-52&amp;days=1-7&amp;periods=1-56&amp;template=module_by_group_list" rel="noopener" role="button" target="_blank" type="button">Timetable</a>
    <a class="mt-2 btn mt-2 btn-primary mt-2 btn-lg" href="https://handbook.unimelb.edu.au/2022/subjects/comp10002" role="button" type="button">Handbook</a>
    <a class="mt-2 btn mt-2 btn-primary mt-2 btn-lg" href="https://canvas.lms.unimelb.edu.au/courses/124111/pages/staff-information" role="button" type="button">Staff</a>
    <a class="mt-2 btn mt-2 btn-primary mt-2 btn-lg" href="https://canvas.lms.unimelb.edu.au/courses/124111/pages/syllabus" role="button" type="button">Syllabus</a>
    <a class="mt-2 btn mt-2 btn-secondary mt-2 btn-lg" href="https://discord.gg/rWRtPGrK" role="button" type="button">Student Operated Chat</a>
    <a class="mt-2 btn mt-2 btn-secondary mt-2 btn-lg" href="https://cohney.info/teachingqa.html" role="button" type="button">Explanation of Teaching Style</a>

</div>