<table
      style="
        text-align: center;
        font-family: sans-serif;
        height: 945px;
        width: 98.6124%;
      "
    >
      <tbody>
        <tr style="height: 32px; background-color: #eee">
          <th style="width: 7.01678%; height: 32px">
            <span style="font-size: 12pt">Code</span>
          </th>
          <th style="width: 9.05069%; height: 32px">
            <span style="font-size: 12pt">Time (Melb.)</span>
          </th>
          <th style="width: 21.1164%; height: 32px">
            <span style="font-size: 12pt">Location (ID / Password)</span>
          </th>
          <th style="width: 31.9228%; height: 32px">
            <span style="font-size: 12pt">Tutor</span>
          </th>
        </tr>
        <tr style="height: 33px">
          <td style="width: 7.01678%; height: 33px">
            <span style="font-size: 12pt">W01/01</span>
          </td>
          <td style="width: 9.05069%; height: 33px">
            <span style="font-size: 12pt">Mon 02:15PM</span>
          </td>
          <td style="width: 21.1164%; height: 33px">
            <span style="font-size: 12pt"
              ><a
                href="https://unimelb.zoom.us/j/83835974075?pwd=ZW1STG5lc2J4b1VIZHgrZi9DZkNOdz09"
                class="external"
                target="_blank"
                rel="noreferrer noopener"
                ><span>Zoom</span
                ><span
                  aria-hidden="true"
                  class="ui-icon ui-icon-extlink ui-icon-inline"
                  title="Links to an external site."
                ></span
                ><span class="screenreader-only"
                  >&nbsp;(Links to an external site.)</span
                ></a
              >
              838 3597 4075 / 630141</span
            >
          </td>
          <td style="width: 31.9228%; height: 33px">
            <span style="font-size: 12pt"
              >Stella Li &lt;<a
                href="mailto:yunzhi2@unimelb.edu.au?subject=COMP10002%20%3cYour%20subject%20here%3e"
                >yunzhi2@unimelb.edu.au</a
              >&gt;</span
            >
          </td>
        </tr>
        <tr style="height: 35px; background-color: #eee">
          <td style="width: 7.01678%; height: 35px">
            <span style="font-size: 12pt">W01/02</span>
          </td>
          <td style="width: 9.05069%; height: 35px">
            <span style="font-size: 12pt">Mon 11:00AM</span>
          </td>
          <td style="width: 21.1164%; height: 35px">
            <span style="font-size: 12pt"
              ><a
                href="https://maps.unimelb.edu.au/point?poi=668583"
                class="external"
                target="_blank"
                rel="noreferrer noopener"
                ><span>122, Electrical Engineering</span
                ><span
                  class="ui-icon ui-icon-extlink ui-icon-inline"
                  title="Links to an external site."
                  ><span class="screenreader-only"
                    >Links to an external site.</span
                  ></span
                ></a
              ></span
            >
          </td>
          <td style="width: 31.9228%; height: 35px">
            <span style="font-size: 12pt"
              >Isabelle Ostrowski &lt;<a
                href="mailto:ostrowskii@unimelb.edu.au?subject=COMP10002%20%3cYour%20subject%20here%3e"
                >ostrowskii@unimelb.edu.au</a
              >&gt;</span
            >
          </td>
        </tr>
        <tr style="height: 35px">
          <td style="width: 7.01678%; height: 35px">
            <span style="font-size: 12pt">W01/03</span>
          </td>
          <td style="width: 9.05069%; height: 35px">
            <span style="font-size: 12pt">Wed 03:15PM</span>
          </td>
          <td style="width: 21.1164%; height: 35px">
            <span style="font-size: 12pt"
              ><a
                href="https://maps.unimelb.edu.au/point?poi=658569"
                class="external"
                target="_blank"
                rel="noreferrer noopener"
                ><span>B117, 207-221 Bouverie St</span
                ><span
                  class="ui-icon ui-icon-extlink ui-icon-inline"
                  title="Links to an external site."
                  ><span class="screenreader-only"
                    >Links to an external site.</span
                  ></span
                ></a
              ></span
            >
          </td>
          <td style="width: 31.9228%; height: 35px">
            <span style="font-size: 12pt"
              >Hannah Chesterman &lt;<a
                href="mailto:chestermanh@unimelb.edu.au?subject=COMP10002%20%3cYour%20subject%20here%3e"
                >chestermanh@unimelb.edu.au</a
              >&gt;</span
            >
          </td>
        </tr>
        <tr style="height: 35px; background-color: #eee">
          <td style="width: 7.01678%; height: 35px">
            <span style="font-size: 12pt">W01/04</span>
          </td>
          <td style="width: 9.05069%; height: 35px">
            <span style="font-size: 12pt">Thu 03:15PM</span>
          </td>
          <td style="width: 21.1164%; height: 35px">
            <span style="font-size: 12pt"
              ><a
                href="https://maps.unimelb.edu.au/point?poi=658563"
                class="external"
                target="_blank"
                rel="noreferrer noopener"
                ><span>B114, 207-221 Bouverie St</span
                ><span
                  class="ui-icon ui-icon-extlink ui-icon-inline"
                  title="Links to an external site."
                  ><span class="screenreader-only"
                    >Links to an external site.</span
                  ></span
                ></a
              ></span
            >
          </td>
          <td style="width: 31.9228%; height: 35px">
            <span style="font-size: 12pt"
              >Lenny Bloom &lt;<a href="mailto:lennardb@unimelb.edu.au"
                >lennardb@unimelb.edu.au&nbsp;</a
              >&gt;</span
            >
          </td>
        </tr>
        <tr style="height: 35px">
          <td style="width: 7.01678%; height: 35px">
            <span style="font-size: 12pt">W01/06</span>
          </td>
          <td style="width: 9.05069%; height: 35px">
            <span style="font-size: 12pt">Tue 04:15PM</span>
          </td>
          <td style="width: 21.1164%; height: 35px">
            <span style="font-size: 12pt"
              ><a
                href="https://maps.unimelb.edu.au/point?poi=658573"
                class="external"
                target="_blank"
                rel="noreferrer noopener"
                ><span>B113, 207-221 Bouverie St</span
                ><span
                  class="ui-icon ui-icon-extlink ui-icon-inline"
                  title="Links to an external site."
                  ><span class="screenreader-only"
                    >Links to an external site.</span
                  ></span
                ></a
              ></span
            >
          </td>
          <td style="width: 31.9228%; height: 35px">
            <span style="font-size: 12pt"
              >Stella Li &lt;<a
                href="mailto:yunzhi2@unimelb.edu.au?subject=COMP10002%20%3cYour%20subject%20here%3e"
                >yunzhi2@unimelb.edu.au</a
              >&gt;</span
            >
          </td>
        </tr>
        <tr style="height: 35px; background-color: #eee">
          <td style="width: 7.01678%; height: 35px">
            <span style="font-size: 12pt">W01/08</span>
          </td>
          <td style="width: 9.05069%; height: 35px">
            <span style="font-size: 12pt">Thu 05:15PM</span>
          </td>
          <td style="width: 21.1164%; height: 35px">
            <span style="font-size: 12pt"
              ><a
                href="https://unimelb.zoom.us/j/84850421286?pwd=RVRDVkRBWXR5TGNlZk95QUlFUi9sZz09"
                class="external"
                target="_blank"
                rel="noreferrer noopener"
                ><span>Zoom</span
                ><span
                  aria-hidden="true"
                  class="ui-icon ui-icon-extlink ui-icon-inline"
                  title="Links to an external site."
                ></span
                ><span class="screenreader-only"
                  >&nbsp;(Links to an external site.)</span
                ></a
              >
              848 5042 1286 / 281429</span
            >
          </td>
          <td style="width: 31.9228%; height: 35px">
            <span style="font-size: 12pt"
              >Kuoyuan Li &lt;<a
                href="mailto:lennardb@unimelb.edu.au%20?subject=COMP10002%20%3cYour%20subject%20here%3e"
                >lennardb@unimelb.edu.au</a
              >&gt;</span
            >
          </td>
        </tr>
        <tr style="height: 35px">
          <td style="width: 7.01678%; height: 35px">
            <span style="font-size: 12pt">W01/09</span>
          </td>
          <td style="width: 9.05069%; height: 35px">
            <span style="font-size: 12pt">Fri 11:00AM</span>
          </td>
          <td style="width: 21.1164%; height: 35px">
            <span style="font-size: 12pt"
              ><a
                href="https://maps.unimelb.edu.au/point?poi=658573"
                class="external"
                target="_blank"
                rel="noreferrer noopener"
                ><span>B113, 207-221 Bouverie St</span
                ><span
                  class="ui-icon ui-icon-extlink ui-icon-inline"
                  title="Links to an external site."
                  ><span class="screenreader-only"
                    >Links to an external site.</span
                  ></span
                ></a
              ></span
            >
          </td>
          <td style="width: 31.9228%; height: 35px">
            <span style="font-size: 12pt"
              >Alec Yu &lt;<a
                href="mailto:alecy1@unimelb.edu.au?subject=COMP10002%20%3cYour%20subject%20here%3e"
                >alecy1@unimelb.edu.au</a
              >&gt;</span
            >
          </td>
        </tr>
        <tr style="height: 35px; background-color: #eee">
          <td style="width: 7.01678%; height: 35px">
            <span style="font-size: 12pt">W01/10</span>
          </td>
          <td style="width: 9.05069%; height: 35px">
            <span style="font-size: 12pt">Tue 02:15PM</span>
          </td>
          <td style="width: 21.1164%; height: 35px">
            <span style="font-size: 12pt"
              ><a
                href="https://maps.unimelb.edu.au/point?poi=658563"
                class="external"
                target="_blank"
                rel="noreferrer noopener"
                ><span>B114, 207-221 Bouverie St</span
                ><span
                  class="ui-icon ui-icon-extlink ui-icon-inline"
                  title="Links to an external site."
                  ><span class="screenreader-only"
                    >Links to an external site.</span
                  ></span
                ></a
              ></span
            >
          </td>
          <td style="width: 31.9228%; height: 35px">
            <span style="font-size: 12pt"
              >Liam Saliba &lt;<a
                href="mailto:salibal@unimelb.edu.au?subject=COMP10002%20%3cYour%20subject%20here%3e"
                >salibal@unimelb.edu.au</a
              >&gt;</span
            >
          </td>
        </tr>
        <tr style="height: 35px">
          <td style="width: 7.01678%; height: 35px">
            <span style="font-size: 12pt">W01/11</span>
          </td>
          <td style="width: 9.05069%; height: 35px">
            <span style="font-size: 12pt">Wed 05:15PM</span>
          </td>
          <td style="width: 21.1164%; height: 35px">
            <span style="font-size: 12pt"
              ><a
                href="https://unimelb.zoom.us/j/86051749777?pwd=bUlxRDYxRkhiWkZIbnZhY2tkVVF0dz09"
                class="external"
                target="_blank"
                rel="noreferrer noopener"
                ><span>Zoom</span
                ><span
                  aria-hidden="true"
                  class="ui-icon ui-icon-extlink ui-icon-inline"
                  title="Links to an external site."
                ></span
                ><span class="screenreader-only"
                  >&nbsp;(Links to an external site.)</span
                ></a
              >
              860 5174 9777 / 565508</span
            >
          </td>
          <td style="width: 31.9228%; height: 35px">
            <span style="font-size: 12pt"
              >Hannah Chesterman &lt;<a
                href="mailto:chestermanh@unimelb.edu.au?subject=COMP10002%20%3cYour%20subject%20here%3e"
                >chestermanh@unimelb.edu.au</a
              >&gt;</span
            >
          </td>
        </tr>
        <tr style="height: 35px; background-color: #eee">
          <td style="width: 7.01678%; height: 35px">
            <span style="font-size: 12pt">W01/12</span>
          </td>
          <td style="width: 9.05069%; height: 35px">
            <span style="font-size: 12pt">Thu 04:15PM</span>
          </td>
          <td style="width: 21.1164%; height: 35px">
            <span style="font-size: 12pt"
              ><a
                href="https://unimelb.zoom.us/j/82045018576?pwd=RUtBZzJpeW5XekR4VkI5d1V0T1NtQT09"
                class="external"
                target="_blank"
                rel="noreferrer noopener"
                ><span>Zoom</span
                ><span
                  aria-hidden="true"
                  class="ui-icon ui-icon-extlink ui-icon-inline"
                  title="Links to an external site."
                ></span
                ><span class="screenreader-only"
                  >&nbsp;(Links to an external site.)</span
                ></a
              >
              820 4501 8576 / 168659</span
            >
          </td>
          <td style="width: 31.9228%; height: 35px">
            <span style="font-size: 12pt"
              >Alexander Zable &lt;<a
                href="mailto:alexanderz@unimelb.edu.au?subject=COMP10002%20%3cYour%20subject%20here%3e"
                >alexanderz@unimelb.edu.au</a
              >&gt;</span
            >
          </td>
        </tr>
        <tr style="height: 35px">
          <td style="width: 7.01678%; height: 35px">
            <span style="font-size: 12pt">W01/13</span>
          </td>
          <td style="width: 9.05069%; height: 35px">
            <span style="font-size: 12pt">Thu 03:15PM</span>
          </td>
          <td style="width: 21.1164%; height: 35px">
            <span style="font-size: 12pt"
              ><a
                href="https://unimelb.zoom.us/j/82169040588?pwd=ZUsya1pzZkNqcjYwVGJOMGRJRi9MZz09"
                class="external"
                target="_blank"
                rel="noreferrer noopener"
                ><span>Zoom</span
                ><span
                  aria-hidden="true"
                  class="ui-icon ui-icon-extlink ui-icon-inline"
                  title="Links to an external site."
                ></span
                ><span class="screenreader-only"
                  >&nbsp;(Links to an external site.)</span
                ></a
              >
              821 6904 0588 / 854279</span
            ><br /><span style="font-size: 12pt"
              ><strong>Recorded!</strong></span
            >
          </td>
          <td style="width: 31.9228%; height: 35px">
            <span style="font-size: 12pt"
              >Liam Saliba &lt;<a
                href="mailto:salibal@unimelb.edu.au?subject=COMP10002%20%3cYour%20subject%20here%3e"
                >salibal@unimelb.edu.au</a
              >&gt;</span
            >
          </td>
        </tr>
        <tr style="height: 35px; background-color: #eee">
          <td style="width: 7.01678%; height: 35px">
            <span style="font-size: 12pt">W01/15</span>
          </td>
          <td style="width: 9.05069%; height: 35px">
            <span style="font-size: 12pt">Wed 03:15PM</span>
          </td>
          <td style="width: 21.1164%; height: 35px">
            <span style="font-size: 12pt"
              ><a
                href="https://unimelb.zoom.us/j/87479262651?pwd=RnhtNE94Vno4UXljOXBhMUUxeTQxZz09"
                class="external"
                target="_blank"
                rel="noreferrer noopener"
                ><span>Zoom</span
                ><span
                  aria-hidden="true"
                  class="ui-icon ui-icon-extlink ui-icon-inline"
                  title="Links to an external site."
                ></span
                ><span class="screenreader-only"
                  >&nbsp;(Links to an external site.)</span
                ></a
              >
              874 7926 2651 / 293349</span
            >
          </td>
          <td style="width: 31.9228%; height: 35px">
            <span style="font-size: 12pt"
              >Isabelle Ostrowski &lt;<a
                href="mailto:ostrowskii@unimelb.edu.au?subject=COMP10002%20%3cYour%20subject%20here%3e"
                >ostrowskii@unimelb.edu.au</a
              >&gt;</span
            >
          </td>
        </tr>
        <tr style="height: 35px">
          <td style="width: 7.01678%; height: 35px">
            <span style="font-size: 12pt">W01/16</span>
          </td>
          <td style="width: 9.05069%; height: 35px">
            <span style="font-size: 12pt">Wed 11:00AM</span>
          </td>
          <td style="width: 21.1164%; height: 35px">
            <span style="font-size: 12pt"
              ><a
                href="https://maps.unimelb.edu.au/point?poi=658573"
                class="external"
                target="_blank"
                rel="noreferrer noopener"
                ><span>B113, 207-221 Bouverie St</span
                ><span
                  class="ui-icon ui-icon-extlink ui-icon-inline"
                  title="Links to an external site."
                  ><span class="screenreader-only"
                    >Links to an external site.</span
                  ></span
                ></a
              ></span
            >
          </td>
          <td style="width: 31.9228%; height: 35px">
            <span style="font-size: 12pt"
              >Alexander Zable &lt;<a
                href="mailto:alexanderz@unimelb.edu.au?subject=COMP10002%20%3cYour%20subject%20here%3e"
                >alexanderz@unimelb.edu.au</a
              >&gt;</span
            >
          </td>
        </tr>
        <tr style="height: 35px; background-color: #eee">
          <td style="width: 7.01678%; height: 35px">
            <span style="font-size: 12pt">W01/17</span>
          </td>
          <td style="width: 9.05069%; height: 35px">
            <span style="font-size: 12pt">Mon 04:15PM</span>
          </td>
          <td style="width: 21.1164%; height: 35px">
            <span style="font-size: 12pt"
              ><a
                href="https://maps.unimelb.edu.au/point?poi=658569"
                class="external"
                target="_blank"
                rel="noreferrer noopener"
                ><span>B117, 207-221 Bouverie St</span
                ><span
                  class="ui-icon ui-icon-extlink ui-icon-inline"
                  title="Links to an external site."
                  ><span class="screenreader-only"
                    >Links to an external site.</span
                  ></span
                ></a
              ></span
            >
          </td>
          <td style="width: 31.9228%; height: 35px">
            <span style="font-size: 12pt"
              >Thomas Minuzzo &lt;<a
                href="mailto:minuzzot@unimelb.edu.au?subject=COMP10002%20%3cYour%20subject%20here%3e"
                >minuzzot@unimelb.edu.au</a
              >&gt;</span
            >
          </td>
        </tr>
        <tr style="height: 35px">
          <td style="width: 7.01678%; height: 35px">
            <span style="font-size: 12pt">W01/18</span>
          </td>
          <td style="width: 9.05069%; height: 35px">
            <span style="font-size: 12pt">Fri 01:00PM</span>
          </td>
          <td style="width: 21.1164%; height: 35px">
            <span style="font-size: 12pt"
              ><a
                href="https://unimelb.zoom.us/j/85677279223?pwd=Y0hlSUlnS1FGcTMya1N0dHRHWGY4dz09"
                class="external"
                target="_blank"
                rel="noreferrer noopener"
                ><span>Zoom</span
                ><span
                  aria-hidden="true"
                  class="ui-icon ui-icon-extlink ui-icon-inline"
                  title="Links to an external site."
                ></span
                ><span class="screenreader-only"
                  >&nbsp;(Links to an external site.)</span
                ></a
              >
              856 7727 9223 / 424556</span
            >
          </td>
          <td style="width: 31.9228%; height: 35px">
            <span style="font-size: 12pt"
              >Lenny Bloom &lt;<a
                href="mailto:lennardb@unimelb.edu.au%20?subject=COMP10002%20%3cYour%20subject%20here%3e"
                >lennardb@unimelb.edu.au</a
              >&gt;</span
            >
          </td>
        </tr>
        <tr style="height: 35px; background-color: #eee">
          <td style="width: 7.01678%; height: 35px">
            <span style="font-size: 12pt">W01/19</span>
          </td>
          <td style="width: 9.05069%; height: 35px">
            <span style="font-size: 12pt">Wed 05:15PM</span>
          </td>
          <td style="width: 21.1164%; height: 35px">
            <span style="font-size: 12pt"
              ><a
                href="https://maps.unimelb.edu.au/point?poi=658563"
                class="external"
                target="_blank"
                rel="noreferrer noopener"
                ><span>B114, 207-221 Bouverie St</span
                ><span
                  class="ui-icon ui-icon-extlink ui-icon-inline"
                  title="Links to an external site."
                  ><span class="screenreader-only"
                    >Links to an external site.</span
                  ></span
                ></a
              ></span
            >
          </td>
          <td style="width: 31.9228%; height: 35px">
            <span style="font-size: 12pt"
              >Kuoyuan Li &lt;<a
                href="mailto:kuoyuan@unimelb.edu.au?subject=COMP10002%20%3cYour%20subject%20here%3e"
                >kuoyuan@unimelb.edu.au</a
              >&gt;</span
            >
          </td>
        </tr>
        <tr style="height: 35px">
          <td style="width: 7.01678%; height: 35px">
            <span style="font-size: 12pt">W01/21</span>
          </td>
          <td style="width: 9.05069%; height: 35px">
            <span style="font-size: 12pt">Mon 02:15PM</span>
          </td>
          <td style="width: 21.1164%; height: 35px">
            <span style="font-size: 12pt"
              ><a
                href="https://unimelb.zoom.us/j/83493624560?pwd=UjhYbG5ZaXdEL1pvTnYzWEFiNHhSQT09"
                class="external"
                target="_blank"
                rel="noreferrer noopener"
                ><span>Zoom</span
                ><span
                  aria-hidden="true"
                  class="ui-icon ui-icon-extlink ui-icon-inline"
                  title="Links to an external site."
                ></span
                ><span class="screenreader-only"
                  >&nbsp;(Links to an external site.)</span
                ></a
              >
              834 9362 4560 / 115973</span
            >
          </td>
          <td style="width: 31.9228%; height: 35px">
            <span style="font-size: 12pt"
              >Thomas Minuzzo &lt;<a
                href="mailto:minuzzot@unimelb.edu.au?subject=COMP10002%20%3cYour%20subject%20here%3e"
                >minuzzot@unimelb.edu.au</a
              >&gt;</span
            >
          </td>
        </tr>
        <tr style="height: 35px; background-color: #eee">
          <td style="width: 7.01678%; height: 35px">
            <span style="font-size: 12pt">W01/22</span>
          </td>
          <td style="width: 9.05069%; height: 35px">
            <span style="font-size: 12pt">Wed 03:15PM</span>
          </td>
          <td style="width: 21.1164%; height: 35px">
            <span style="font-size: 12pt"
              ><a
                href="https://unimelb.zoom.us/j/89387566891?pwd=eW5OK0VIM294RXBVb0l2SXREMkNYZz09"
                class="external"
                target="_blank"
                rel="noreferrer noopener"
                ><span>Zoom</span
                ><span
                  aria-hidden="true"
                  class="ui-icon ui-icon-extlink ui-icon-inline"
                  title="Links to an external site."
                ></span
                ><span class="screenreader-only"
                  >&nbsp;(Links to an external site.)</span
                ></a
              >
              893 8756 6891 / 665305</span
            >
          </td>
          <td style="width: 31.9228%; height: 35px">
            <span style="font-size: 12pt"
              >Alec Yu &lt;<a
                href="mailto:alecy1@unimelb.edu.au?subject=COMP10002%20%3cYour%20subject%20here%3e"
                >alecy1@unimelb.edu.au</a
              >&gt;</span
            >
          </td>
        </tr>
      </tbody>
    </table>
