<table style="text-align: center; font-family: sans-serif;">
  <tr>
    <th>Code</th>
    <th>Day</th>
    <th>Time (Melb.)</th>
    <th>
      Location</span>
    </th>
    <th>Zoom ID</th>
    <th>Password</th>
    <th>Tutor</th>
  </tr>
  <tr>
    <td>W01/01</td>
    <td>Mon</td>
    <td>02:15PM</td>
    <td>
      <a
        href="https://unimelb.zoom.us/j/83835974075?pwd=ZW1STG5lc2J4b1VIZHgrZi9DZkNOdz09"
        >Zoom</a
      >
    </td>
    <td>838 3597 4075</td>
    <td>630141</td>
    <td>
      Stella Li &lt;<a
        href="mailto:yunzhi2@unimelb.edu.au?subject=COMP10002%20%3cYour%20subject%20here%3e"
        >yunzhi2@unimelb.edu.au</a
      >&gt;
    </td>
  </tr>
  <tr>
    <td>W01/02</td>
    <td>Mon</td>
    <td>11:00AM</td>
    <td colspan="3">
      <a href="https://maps.unimelb.edu.au/point?poi=668583"
        >122, Electrical Engineering</a
      >
    </td>
    <td>
      Isabelle Ostrowski &lt;<a
        href="mailto:ostrowskii@unimelb.edu.au?subject=COMP10002%20%3cYour%20subject%20here%3e"
        >ostrowskii@unimelb.edu.au</a
      >&gt;
    </td>
  </tr>
  <tr>
    <td>W01/03</td>
    <td>Wed</td>
    <td>03:15PM</td>
    <td colspan="3">
      <a href="https://maps.unimelb.edu.au/point?poi=658569"
        >B117, 207-221 Bouverie St</a
      >
    </td>
    <td>
      Hannah Chesterman &lt;<a
        href="mailto:chestermanh@unimelb.edu.au?subject=COMP10002%20%3cYour%20subject%20here%3e"
        >chestermanh@unimelb.edu.au</a
      >&gt;
    </td>
  </tr>
  <tr>
    <td>W01/04</td>
    <td>Thurs</td>
    <td>03:15PM</td>
    <td colspan="3">
      <a href="https://maps.unimelb.edu.au/point?poi=658563"
        >B114, 207-221 Bouverie St</a
      >
    </td>
    <td>
      Lenny Bloom &lt;<a href="mailto:lennardb@unimelb.edu.au"
        >lennardb@unimelb.edu.au<span 
          > </span
        ></a
      >&gt;
    </td>
  </tr>
  <tr>
    <td>W01/06</td>
    <td>Tues</td>
    <td>04:15PM</td>
    <td colspan="3">
      <a href="https://maps.unimelb.edu.au/point?poi=658573"
        >B113, 207-221 Bouverie St</a
      >
    </td>
    <td>
      Stella Li &lt;<a
        href="mailto:yunzhi2@unimelb.edu.au?subject=COMP10002%20%3cYour%20subject%20here%3e"
        >yunzhi2@unimelb.edu.au</a
      >&gt;
    </td>
  </tr>
  <tr>
    <td>W01/08</td>
    <td>Thurs</td>
    <td>05:15PM</td>
    <td>
      <a
        href="https://unimelb.zoom.us/j/84850421286?pwd=RVRDVkRBWXR5TGNlZk95QUlFUi9sZz09"
        >Zoom</a
      >
    </td>
    <td>848 5042 1286</td>
    <td>281429</td>
    <td>
      Kuoyuan Li &lt;<a
        href="mailto:lennardb@unimelb.edu.au%20?subject=COMP10002%20%3cYour%20subject%20here%3e"
        >lennardb@unimelb.edu.au</a
      >&gt;
    </td>
  </tr>
  <tr>
    <td>W01/09</td>
    <td>Fri</td>
    <td>11:00AM</td>
    <td colspan="3">
      <a href="https://maps.unimelb.edu.au/point?poi=658573"
        >B113, 207-221 Bouverie St</a
      >
    </td>
    <td>
      Alec Yu &lt;<a
        href="mailto:alecy1@unimelb.edu.au?subject=COMP10002%20%3cYour%20subject%20here%3e"
        >alecy1@unimelb.edu.au</a
      >&gt;
    </td>
  </tr>
  <tr>
    <td>W01/10</td>
    <td>Tues</td>
    <td>02:15PM</td>
    <td colspan="3">
      <a href="https://maps.unimelb.edu.au/point?poi=658563"
        >B114, 207-221 Bouverie St</a
      >
    </td>
    <td>
      Liam Saliba &lt;<a
        href="mailto:salibal@unimelb.edu.au?subject=COMP10002%20%3cYour%20subject%20here%3e"
        >salibal@unimelb.edu.au</a
      >&gt;
    </td>
  </tr>
  <tr>
    <td>W01/11</td>
    <td>Wed</td>
    <td>05:15PM</td>
    <td>
      <a
        href="https://unimelb.zoom.us/j/86051749777?pwd=bUlxRDYxRkhiWkZIbnZhY2tkVVF0dz09"
        >Zoom</a
      >
    </td>
    <td>860 5174 9777</td>
    <td>565508</td>
    <td>
      Hannah Chesterman &lt;<a
        href="mailto:chestermanh@unimelb.edu.au?subject=COMP10002%20%3cYour%20subject%20here%3e"
        >chestermanh@unimelb.edu.au</a
      >&gt;
    </td>
  </tr>
  <tr>
    <td>W01/12</td>
    <td>Thurs</td>
    <td>04:15PM</td>
    <td>
      <a
        href="https://unimelb.zoom.us/j/82045018576?pwd=RUtBZzJpeW5XekR4VkI5d1V0T1NtQT09"
        >Zoom</a
      >
    </td>
    <td>820 4501 8576</td>
    <td>168659</td>
    <td>
      Alexander Zable &lt;<a
        href="mailto:alexanderz@unimelb.edu.au?subject=COMP10002%20%3cYour%20subject%20here%3e"
        >alexanderz@unimelb.edu.au</a
      >&gt;
    </td>
  </tr>
  <tr>
    <td>W01/13</td>
    <td>Thurs</td>
    <td>03:15PM</td>
    <td>
      <a
        href="https://unimelb.zoom.us/j/82169040588?pwd=ZUsya1pzZkNqcjYwVGJOMGRJRi9MZz09"
        >Zoom</a
      >
    </td>
    <td>821 6904 0588</td>
    <td>854279</td>
    <td>
      Liam Saliba &lt;<a
        href="mailto:salibal@unimelb.edu.au?subject=COMP10002%20%3cYour%20subject%20here%3e"
        >salibal@unimelb.edu.au</a
      >&gt;
    </td>
  </tr>
  <tr>
    <td>W01/15</td>
    <td>Wed</td>
    <td>03:15PM</td>
    <td>
      <a
        href="https://unimelb.zoom.us/j/87479262651?pwd=RnhtNE94Vno4UXljOXBhMUUxeTQxZz09"
        >Zoom</a
      >
    </td>
    <td>874 7926 2651</td>
    <td>293349</td>
    <td>
      Isabelle Ostrowski &lt;<a
        href="mailto:ostrowskii@unimelb.edu.au?subject=COMP10002%20%3cYour%20subject%20here%3e"
        >ostrowskii@unimelb.edu.au</a
      >&gt;
    </td>
  </tr>
  <tr>
    <td>W01/16</td>
    <td>Wed</td>
    <td>11:00AM</td>
    <td colspan="3">
      <a href="https://maps.unimelb.edu.au/point?poi=658573"
        >B113, 207-221 Bouverie St</a
      >
    </td>
    <td>
      Alexander Zable &lt;<a
        href="mailto:alexanderz@unimelb.edu.au?subject=COMP10002%20%3cYour%20subject%20here%3e"
        >alexanderz@unimelb.edu.au</a
      >&gt;
    </td>
  </tr>
  <tr>
    <td>W01/17</td>
    <td>Mon</td>
    <td>04:15PM</td>
    <td colspan="3">
      <a href="https://maps.unimelb.edu.au/point?poi=658569"
        >B117, 207-221 Bouverie St</a
      >
    </td>
    <td>
      Thomas Minuzzo &lt;<a
        href="mailto:minuzzot@unimelb.edu.au?subject=COMP10002%20%3cYour%20subject%20here%3e"
        >minuzzot@unimelb.edu.au</a
      >&gt;
    </td>
  </tr>
  <tr>
    <td>W01/18</td>
    <td>Fri</td>
    <td>01:00PM</td>
    <td>
      <a
        href="https://unimelb.zoom.us/j/85677279223?pwd=Y0hlSUlnS1FGcTMya1N0dHRHWGY4dz09"
        >Zoom</a
      >
    </td>
    <td>856 7727 9223</td>
    <td>424556</td>
    <td>
      Lenny Bloom &lt;<a
        href="mailto:lennardb@unimelb.edu.au%20?subject=COMP10002%20%3cYour%20subject%20here%3e"
        >lennardb@unimelb.edu.au</a
      >&gt;
    </td>
  </tr>
  <meta charset="utf-8" />
  <tr>
    <td>W01/19</td>
    <td>Wed</td>
    <td>05:15PM</td>
    <td colspan="3">
      <a href="https://maps.unimelb.edu.au/point?poi=658563"
        >B114, 207-221 Bouverie St</a
      >
    </td>
    <td>
      Kuoyuan Li &lt;<a
        href="mailto:kuoyuan@unimelb.edu.au?subject=COMP10002%20%3cYour%20subject%20here%3e"
        >kuoyuan@unimelb.edu.au</a
      >&gt;
    </td>
  </tr>
  <tr>
    <td>W01/21</td>
    <td>Mon</td>
    <td>02:15PM</td>
    <td>
      <a
        href="https://unimelb.zoom.us/j/83493624560?pwd=UjhYbG5ZaXdEL1pvTnYzWEFiNHhSQT09"
        >Zoom</a
      >
    </td>
    <td>834 9362 4560</td>
    <td>115973</td>
    <td>
      Thomas Minuzzo &lt;<a
        href="mailto:minuzzot@unimelb.edu.au?subject=COMP10002%20%3cYour%20subject%20here%3e"
        >minuzzot@unimelb.edu.au</a
      >&gt;
    </td>
  </tr>
  <meta charset="utf-8" />
  <tr>
    <td>W01/22</td>
    <td>Wed</td>
    <td>03:15PM</td>
    <td>
      <a
        href="https://unimelb.zoom.us/j/89387566891?pwd=eW5OK0VIM294RXBVb0l2SXREMkNYZz09"
        >Zoom</a
      >
    </td>
    <td>893 8756 6891</td>
    <td>665305</td>
    <td>
      Alec Yu &lt;<a
        href="mailto:alecy1@unimelb.edu.au?subject=COMP10002%20%3cYour%20subject%20here%3e"
        >alecy1@unimelb.edu.au</a
      >&gt;
    </td>
  </tr>
</table>
