---
layout: default
---
<p style="text-align: center;">&nbsp;</p>
<p style="text-align: center;">Note the schedule is still being adjusted for the current semester, and is only
    indicative.</p>
<div>
    <table style="width: 100%; height: 1801px;" border="1" cellspacing="1" cellpadding="1">
        <tbody>
            <tr style="background-color: #c8a7fb;">
                <td style="background-color: #c8a7fb; width: 16.2207%; height: 29px;"><span
                        style="font-size: 12pt;"><strong>Week/Dates</strong></span></td>
                <td style="width: 35.9532%; height: 29px;"><span
                        style="font-size: 12pt;"><strong>Lectures</strong></span></td>
                <td style="width: 23.6622%; height: 29px;"><span style="font-size: 12pt;"><strong>Lecture
                            Recording</strong></span></td>
                <td style="width: 23.6622%; height: 29px;"><span style="font-size: 12pt;"><strong>Workshop
                            Recording<br /></strong></span></td>
            </tr>
            <tr style="height: 149px;">
                <td style="width: 16.2207%; height: 149px;"><span style="font-size: 12pt;">1: Feb 28 - Mar 4</span></td>
                <td style="width: 35.9532%; height: 149px;">
                    <p><span style="font-size: 12pt;">Syllabus (handout)<br /></span></p>
                    <p><span style="font-size: 12pt;">Introduction to Algorithms; Introduction to C Programming.</span>
                    </p>
                    <p><span style="font-size: 12pt;">Read Chapters 1 and 2 of the text.</span></p>
                    <p><span style="font-size: 12pt;"><strong>Bonus</strong> reading: 13.2 (Friday's lecture)</span></p>
                    <p>Lecture Slides: lec01.pdf</p>
                    <p>Review Slides: review-slides-lec02.pdf review-slides-lec03.pdf</p>
                    <p>Code:</p>
                    <p>findrepeats0.c&nbsp;</p>
                    <p>findrepeats1.c&nbsp;</p>
                    <p>findrepeats2.c&nbsp;</p>
                </td>
                <td style="width: 23.6622%; height: 149px;"><span style="font-size: 12pt;">See Lecture Capture
                        page</span></td>
                <td style="width: 23.6622%; height: 149px;">
                    <p><span style="font-size: 12pt;">Workshops start in Week 2. </span></p>
                    <p><span style="font-size: 12pt;"><span>Use the Link to Access Grok Learning in the Weekly Schedule
                                module to access Grok for the first time. This will activate your access to Grok via
                                university email for subsequent accesses.&nbsp;</span></span></p>
                </td>
            </tr>
            <tr style="height: 89px;">
                <td style="width: 16.2207%; height: 89px;"><span style="font-size: 12pt;">2: Mar 7 - 11</span></td>
                <td style="width: 35.9532%; height: 89px;">
                    <p><span style="font-size: 12pt;">Selection, iteration, and abstraction in C.</span></p>
                    <p><span style="font-size: 12pt;">Read chapters 3, 4, 5.&nbsp;</span></p>
                    <p><span style="font-size: 12pt;">Lecture Slides : lec02.pdf </span><span
                            style="font-size: 12pt;">lec03.pdf<br /></span></p>
                    <p>Review Slides:&nbsp;review-slides-lec03.pdf review-slides-lec04.pdf&nbsp;</p>
                    <p>Code:</p>
                    <p>datetomorrow.c&nbsp;</p>
                </td>
                <td style="width: 23.6622%; height: 89px;"></td>
                <td style="width: 23.6622%; height: 89px;"><span style="font-size: 12pt;">See Lecture Capture
                        page</span></td>
            </tr>
            <tr style="height: 137px;">
                <td style="width: 16.2207%; height: 137px;">3: Mar 14 -18&nbsp;</td>
                <td style="width: 35.9532%; height: 137px;">
                    <div>
                        <p><span style="font-size: 12pt;">Functions<br /></span></p>
                        <p><span style="font-size: 12pt;">Read chapters 5, 6, cont.</span></p>
                        <p><span style="font-size: 12pt;">Presentation Slides: </span></p>
                        <p>lec04.pdf</p>
                        <p>Review Slides:</p>
                        <p>review-slides-lec04.pdf</p>
                    </div>
                </td>
                <td style="width: 23.6622%; height: 137px;">
                    <p>&nbsp;</p>
                    <p>HIGH DEF LEC 9!</p>
                </td>
                <td style="width: 23.6622%; height: 137px;"></td>
            </tr>
            <tr style="height: 149px;">
                <td style="width: 16.2207%; height: 149px;"><span style="font-size: 12pt;">4: Mar 21 - 25</span></td>
                <td style="width: 35.9532%; height: 149px;">
                    <p>Memory layout, Pointers, Arrays</p>
                    <p>Read chapter 6, 7, 12.</p>
                    <p>Rest of the slides from week 3's lecture.</p>
                    <p>Presentation Slides: lecture5.pdf</p>
                    <p>review-slides-lec04.pdf</p>
                    <p>review-slides-lec05.pdf</p>
                </td>
                <td style="width: 23.6622%; height: 149px;">
                    <p>Week 3 Recap Video</p>
                    <p>&nbsp;</p>
                    <p>Lec 10 720p</p>
                    <p>&nbsp;</p>
                    <p>Lec 11 1080p (mostly)</p>
                    <p>Lec 12 1080p</p>
                    <p>&nbsp;</p>
                    <p><br />&nbsp;</p>
                </td>
                <td style="width: 23.6622%; height: 149px;"></td>
            </tr>
            <tr style="height: 233px;">
                <td style="width: 16.2207%; height: 233px;">5: Mar 28 - Apr 1</td>
                <td style="width: 35.9532%; height: 233px;">
                    <p><span style="font-size: 12pt;">Slides - from week 4's lecture. 2D arrays. </span><span
                            style="font-size: 12pt;">Analysis of algorithms (complexity)</span></p>
                    <p><span style="font-size: 12pt;">Lecture Slides:</span></p>
                    <p><span style="font-size: 12pt;">lecture6.pdf&nbsp;</span></p>
                    <p><span style="font-size: 12pt;">Review Slides:</span></p>
                    <p><span style="font-size: 12pt;">review-slides-lec05.pdf</span></p>
                    <p
                        style="margin: 0px 0px 1em; padding: 0px; border: 0px; font-style: normal; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 13px; color: #000000; text-align: left; text-indent: 0px; white-space: normal;">
                        <span
                            style="margin: 0px; padding: 0px; border: 0px; font-style: normal; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 12pt; color: #000000; font-variant: normal; line-height: normal; text-align: left; text-indent: 0px; white-space: normal; float: none; background-color: #00ff00; display: inline !important;">Mid-semester
                            Test (tentative)</span>
                    </p>
                </td>
                <td style="width: 23.6622%; height: 233px;"></td>
                <td style="width: 23.6622%; height: 233px;">
                    <p
                        style="font-family: 'Open Sans', sans-serif; margin: 0px 0px 1em; padding: 0px; border: 0px; font-style: normal; font-size: 13px; position: relative; overflow: visible; color: #111111; text-align: left; text-indent: 0px; white-space: normal; text-decoration: none;">
                        &nbsp;</p>
                </td>
            </tr>
            <tr style="height: 89px;">
                <td style="width: 16.2207%; height: 89px;"><span style="font-size: 12pt;">6: Apr 4 - 8</span></td>
                <td style="width: 35.9532%; height: 89px;">
                    <p>Remainder of week 5 materials</p>
                    <p>Analysis of Algorithms continued</p>
                    <p><span style="font-size: 12pt;">Quicksort</span></p>
                    <p><span style="font-size: 12pt;">Presentation Slides:</span></p>
                    <p><span style="font-size: 12pt;">lecture6.pdf (Updated Daily)<br /></span></p>
                    <p><span style="font-size: 12pt;">Review Slides:</span></p>
                    <p
                        style="margin: 0px 0px 1em; padding: 0px; border: 0px; font-style: normal; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 13px; color: #000000; text-align: left; text-indent: 0px; white-space: normal;">
                        &nbsp;</p>
                    <p><span style="background-color: #00ff00;"><span
                                style="font-family: Helvetica Neue, Helvetica, Arial, sans-serif;"><span
                                    style="font-size: 12pt;">Assignment 1 release (</span>tentative<span
                                    style="font-size: 12pt;">)</span></span><br /></span></p>
                </td>
                <td style="width: 23.6622%; height: 89px;">
                    <p>1080p Goodbye Lecture (Available late Sunday night after WMG copyright claim expires)</p>
                </td>
                <td style="width: 23.6622%; height: 89px;"></td>
            </tr>
            <tr style="height: 113px;">
                <td style="width: 16.2207%; height: 113px;">7: Apr 11 - 14</td>
                <td style="width: 35.9532%; height: 113px;">
                    <p><span style="font-size: 12pt;">String, Pattern search, String indexing</span></p>
                    <p><span style="font-size: 12pt;">Read Chapter 7.</span></p>
                    <p><span style="font-size: 12pt;">Lecture Slides: lec06.pdf</span></p>
                    <p>kmp.c</p>
                    <p><span
                            style="margin: 0px; padding: 0px; border: 0px none; font-style: normal; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 12pt; color: #000000; font-variant: normal; line-height: normal; text-align: left; text-indent: 0px; white-space: normal; float: none; background-color: #f1c40f; display: inline !important;">No
                            Friday Class (Non-teaching period)</span></p>
                </td>
                <td style="width: 23.6622%;">
                    <p>&nbsp;</p>
                </td>
                <td style="width: 23.6622%;"></td>
            </tr>
            <tr style="height: 103px;">
                <td style="width: 16.2207%; height: 103px;"><strong><span style="font-size: 12pt;">8: Apr 15 - Apr
                            24</span></strong></td>
                <td style="width: 35.9532%; height: 103px;">
                    <p
                        style="margin: 0px 0px 1em; padding: 0px; border: 0px; font-style: normal; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 13px; color: #000000; text-align: left; text-indent: 0px; white-space: normal;">
                        <span
                            style="color: #000000; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 12pt; font-style: normal; text-align: left; text-indent: 0px; white-space: normal; float: none; display: inline !important;"><strong
                                style="margin: 0px; padding: 0px; border: 0px; font-style: normal; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; color: #000000; font-variant: normal; line-height: normal; text-align: left; text-indent: 0px; white-space: normal;">Extended
                                EASTER BREAK - NO CLASS</strong></span>
                    </p>
                </td>
                <td style="width: 23.6622%; height: 103px;"></td>
                <td style="width: 23.6622%; height: 103px;">
                    <p><span style="font-size: 12pt;"><strong
                                style="margin: 0px; padding: 0px; border: 0px; font-style: normal; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; color: #000000; font-variant: normal; line-height: normal; text-align: left; text-indent: 0px; white-space: normal;">NO
                                WORKSHOP</strong></span></p>
                </td>
            </tr>
            <tr style="height: 101px;">
                <td style="width: 16.2207%; height: 101px;"><span style="font-size: 12pt;">9: Apr 25 - 29</span></td>
                <td style="width: 35.9532%; height: 101px;">
                    <p><span style="font-size: 12pt;"><span
                                style="color: #000000; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 12pt; font-style: normal; text-align: left; text-indent: 0px; white-space: normal; float: none; display: inline !important;"><strong
                                    style="margin: 0px; padding: 0px; border: 0px; font-style: normal; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; color: #000000; font-variant: normal; line-height: normal; text-align: left; text-indent: 0px; white-space: normal;">Monday
                                    Apr 26 ANZAC Day - NO WORKSHOP (Make-up during the week)</strong></span></span></p>
                    <p><span style="font-size: 12pt;">Structures and dynamic memory allocation.</span></p>
                    <p><span style="font-size: 12pt;">Abstract data types: linked lists, queues, stacks, and binary
                            search trees.&nbsp;</span></p>
                    <p><span style="font-size: 12pt;">Read Chapters 8 and 10.</span></p>
                    <p><span style="font-size: 12pt;">Lecture Slides: lec07.pdf</span></p>
                </td>
                <td style="width: 23.6622%; height: 101px;">
                    <p>&nbsp;</p>
                </td>
                <td style="width: 23.6622%; height: 101px;">
                    <p>&nbsp;</p>
                </td>
            </tr>
            <tr style="height: 125px;">
                <td style="width: 16.2207%; height: 125px;"><span style="font-size: 12pt;">10: May 2 -6</span></td>
                <td style="width: 35.9532%; height: 125px;">
                    <p><span style="font-size: 12pt;">Abstract data types (cont.) and more algorithms.</span><span
                            style="font-size: 12pt;">&nbsp;</span></p>
                    <p><span style="font-size: 12pt;">Read Chapter 10.</span></p>
                    <p><span style="font-size: 12pt;">get_n_prime.c</span></p>
                    <p><span style="font-size: 12pt;"><span
                                style="background-color: #00ff00; font-size: 12pt;">Assignment 2 release
                                (tentative)</span></span></p>
                </td>
                <td style="width: 23.6622%; height: 125px;">
                    <p>&nbsp;</p>
                </td>
                <td style="width: 23.6622%; height: 125px;"></td>
            </tr>
            <tr style="height: 185px;">
                <td style="width: 16.2207%; height: 185px;">11: May 9 - 13</td>
                <td style="width: 35.9532%; height: 185px;">
                    <p><span style="font-size: 12pt;">Files and number representations.&nbsp;</span></p>
                    <p><span style="font-size: 12pt;">Read Chapters 11 and 13.</span></p>
                    <p><span style="font-size: 12pt;">Lecture Slides: lec08.pdf; lec09.pdf</span></p>
                </td>
                <td style="width: 23.6622%; height: 185px;"></td>
                <td style="width: 23.6622%; height: 185px;"></td>
            </tr>
            <tr style="height: 125px;">
                <td style="width: 16.2207%; height: 125px;">12: May 16 - 20</td>
                <td style="width: 35.9532%; height: 125px;">
                    <p><span style="font-size: 12pt;">Number representations (cont.) and more algorithms.</span></p>
                    <p><span style="font-size: 12pt;">Read Chapter 9.</span></p>
                    <p><span style="font-size: 12pt;">Lecture Slides: lec11.pdf</span></p>
                </td>
                <td style="width: 23.6622%; height: 125px;">
                    <p>&nbsp;</p>
                </td>
                <td style="width: 23.6622%; height: 125px;">
                    <p>&nbsp;</p>
                </td>
            </tr>
            <tr style="height: 89px;">
                <td style="width: 16.2207%; height: 89px;"><span style="font-size: 12pt;">13: May 23 - 27</span></td>
                <td style="width: 35.9532%; height: 89px;">
                    <p><span style="font-size: 12pt;">More algorithms (cont.), C programming tools, and wrap
                            up.&nbsp;</span></p>
                    <p>Lecture Slides: lec10.pdf; wrapup.pdf</p>
                </td>
                <td style="width: 23.6622%; height: 89px;">
                    <p>&nbsp;</p>
                </td>
                <td style="width: 23.6622%; height: 89px;"></td>
            </tr>
        </tbody>
    </table>
    <p>&nbsp;</p>
</div>